@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.ant-form {
  height: 100%;
}

ol:not([class]) {
  list-style-type: decimal;
  margin-left: 20px;
}

ul:not([class]) {
  list-style-type: disc; /* This will show bullets */
  margin-left: 20px;     /* Adjust margin as needed */
}

li:not([class]) {
  margin: 5px 0;
}
