@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping {
  0%, 100% {
    opacity: 0;
  }
  49.9%, 50.1% {
    opacity: 1;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: clip; /* Prevents scrolling issues */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.ant-form {
  height: 100%;
}

ol:not([class]) {
  list-style-type: decimal;
  margin-left: 20px;
}

ul:not([class]) {
  list-style-type: disc; /* This will show bullets */
  margin-left: 20px;     /* Adjust margin as needed */
}

li:not([class]) {
  margin: 5px 0;
}

.ping-animation {
  animation: ping 1s infinite steps(1);
}
